<div class='container beer-new'>
<h1> Add New Beer </h1>

<%= form_for @beer do |f| %>
    <%= f.label :name %><br>
    <%= f. text_field :name %><br>

    <%= f.label :brewery_id %><br>
    <%= f.collection_select :brewery_id, @brewerys, :id, :name %><br>

    <%= f. submit %>
<% end %>

</div>