<!DOCTYPE html>
<html class="parallax">
  <head>
    <title>BrewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
    
        

  <body>

  
    <div class="parent">
      <div class="home-nav"> 
        <ul class="nav-bar">
                        <li style="float:left"><a href='/'>Home</a></li>
                        <li style="float:right"><%= link_to 'Beers', beers_path %></li>
                        <li style="float:right"><%= link_to 'Breweries', breweries_path %></li>
                        <li style="float:right"><%= link_to 'Trending', favorites_path %></li>
                        <li style="float:right"><%= link_to 'Cali Beers', california_path %></li>
                       
                    </ul>
      </div>
    </div>
    


    <%= yield %>
  </body>
</html>
